@charset "utf-8";
#wrap{width:1250px;margin:0 auto;}
#listNavv{height:42px;background-color: #f7f7f7;}
#listNavv #wrap ul li{float:left;line-height: 46px;}
#listNavv #wrap ul li a{margin-right:5px;float:left;display:block;font-size: 14px;color: #000;width:62px;height:42px;text-align: center;}
#listNavv #wrap ul li .pag{margin-left:282px;}
  /*  #listNavv #wrap ul .bagg{position: relative;}
  #listNavv #wrap .bagg #bag{width:597px;height:300px;background-color: red;position: absolute;left: 282px;top:42px;} */
#listNavv #wrap ul li{position: relative;z-index: 5px;}
#listNavv #wrap ul li span{position:relative;z-index: 2;}
#listNavv #wrap #bagg1 span:hover{height: 42px;}
#listNavv #wrap span:hover{background: #fff;border-top: 1px solid #d7d7d7;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;height: 42px;}
#listNavv #wrap #bag1{background-color: #fff;width:750px;position: absolute;left: 282px;top:42px;border: 1px solid #d7d7d7;padding:19px 23px 0 15px;display: none;position: absolute;z-index: 0;}
#listNavv #wrap #bag1 ul{width: 450px;margin-bottom: 12px;float: left;}
#listNavv #wrap #bag1 ul li{float: left;width: 450px}
#listNavv #wrap #bag1 ul li a{display: block;font: 12px/18px "微软雅黑";height: 18px;width: 52px;}
#listNavv #wrap #bag1 ul li a:hover{color: #db0215;}
#listNavv #wrap #bag1 #ul2{width: 145px;}
#listNavv #wrap #bag1 #ul3{width: 145px;}
#listNavv #wrap #bag1 .ulli a{font-weight: bold;font-size: 12px;}

#listNavv #wrap #bag1 #ul1 .ulli1{width: 54px;}
#listNavv #wrap #bag1 #ul1 .ulli1 a{margin:0;}
/*-----------------------------bag2------------------------------*/
#listNavv #wrap #bag2{background-color: #fff;width:750px;position: absolute;left: 0px;top:42px;border: 1px solid #d7d7d7;padding:19px 23px 0 15px;display: none;position: absolute;z-index: 1;}
#listNavv #wrap #bag2 ul{width: 450px;margin-bottom: 12px;float: left;}
#listNavv #wrap #bag2 ul li{float: left;width: 450px}
#listNavv #wrap #bag2 ul li a{display: block;font: 12px/18px "微软雅黑";height: 18px;width: 52px;}
#listNavv #wrap #bag2 ul li a:hover{color: #db0215;}
#listNavv #wrap #bag2 #ul5{width: 145px;}
#listNavv #wrap #bag2 #ul6{width: 145px;}
#listNavv #wrap #bag2 .ulli a{font-weight: bold;font-size: 12px;}

#listNavv #wrap #bag2 #ul1 .ulli1{width: 54px;}
#listNavv #wrap #bag2 #ul1 .ulli1 a{margin:0;}
/*-----------------------------bag3------------------------------*/
#listNavv #wrap #bag3{background-color: #fff;width:750px;position: absolute;left: 0px;top:42px;border: 1px solid #d7d7d7;padding:19px 23px 0 15px;display: none;position: absolute;z-index: 1;}
#listNavv #wrap #bag3 ul{width: 450px;margin-bottom: 12px;float: left;}
#listNavv #wrap #bag3 ul li{float: left;width: 450px}
#listNavv #wrap #bag3 ul li a{display: block;font: 12px/18px "微软雅黑";height: 18px;width: 52px;}
#listNavv #wrap #bag3 ul li a:hover{color: #db0215;}
#listNavv #wrap #bag3 #ul7{width: 145px;}
#listNavv #wrap #bag3 #ul8{width: 145px;}
#listNavv #wrap #bag3 .ulli a{font-weight: bold;font-size: 12px;}

#listNavv #wrap #bag3 #ul1 .ulli1{width: 54px;}
#listNavv #wrap #bag3 #ul1 .ulli1 a{margin:0;}
/* #listNavv #wrap #bag2{background-color: #fff;width:597px;height:300px;position: absolute;left: -67px;top:42px;border: 1px solid #000;padding:19px 23px 0 15px;display: none;}
#listNavv #wrap #bag2 ul{width: 450px;height: 38px;border-bottom: 1px dashed #000;margin-bottom: 12px}
#listNavv #wrap #bag2 ul li{float: left;}
#listNavv #wrap #bag2 ul li a{display: block;font: 12px/18px "微软雅黑";height: 18px;width: 52px;}
#listNavv #wrap #bag2 ul li a:hover{color: #db0215;} */


#listNavv #wrap ul li span{width:60px;height:41px;display:block;border-top:1px solid #f7f7f7;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;}






#ladyWrap{width: 100%;background: url(http://images.xiu.com/edm/hd_jxWoman_160918/body_bg1.jpg
) no-repeat center top fixed;/* height:2000px; */min-width: 1250px;}
#ladyWrap #ladyfix{position: fixed;width: 120px;height: 260px;left:50%;top: 452px;margin-left: 651px;}
#ladyWrap #ladyfix a{display: block;height: 40px;margin-bottom: 15px;}
#ladyWrap #ladyfix .ladyfix_1{background: url(../image/lady/menu0918.png) no-repeat 0 0;}
#ladyWrap #ladyfix .ladyfix_1:hover{background-position: -150px 0;}
#ladyWrap #ladyfix .ladyfix_2{background: url(../image/lady/menu0918.png) no-repeat 0 -100px;}
#ladyWrap #ladyfix .ladyfix_2:hover{background-position: -150px -100px}
#ladyWrap #ladyfix .ladyfix_3{background: url(../image/lady/menu0918.png) no-repeat 0 -50px;}
#ladyWrap #ladyfix .ladyfix_3:hover{background-position: -150px -50px}
#ladyWrap #ladyfix .ladyfix_4{background: url(../image/lady/menu0918.png) no-repeat 0 -150px;}
#ladyWrap #ladyfix .ladyfix_4:hover{background-position: -150px -150px}
#ladyWrap #ladyfix .ladyfix_5{margin-bottom:0;background: url(../image/lady/menu0918.png) no-repeat 0 -200px;}
#ladyWrap #ladyfix .ladyfix_5:hover{background-position: -150px -200px;}

#ladyWrap #ladyMain{padding: 680px 0 50px;/* height: 2000px; */}
#ladyWrap #ladyMain .ladyMm{background: url(../image/lady/woman_bg.png);/* height: 2000px; */overflow: hidden;padding-left: 25px;padding-top: 23px;width: 1225px;}
/* #ladyWrap #ladyMain .ladyMm div{width:1250px;height: 2000px;} */
#ladyWrap #ladyMain .ladyMm a{float: left;margin-right: 23px;margin-bottom: 23px;position: relative;display: block;width:385px;height: 389px;}
#ladyWrap #ladyMain .ladyMm a img{position: absolute;}
