@charset "utf-8";
.log{width: 1200px;margin:0 auto;}
.login{height: 60px;overflow: hidden;border-bottom: 1px solid #e5e5e5;}
.login img{margin-top: 15px;}

#login_Main{height: 700px;background-color: #ccc;}
#login_Main .login_form{height:560px;width:1200px;background:url(image/login/1276a7a2-aa56-4ab1-8ff3-230c29b55e75.jpg);}











